/Datac24 Online/bin
/Datac24 Online/obj
/Backend Blaupause/bin/Debug/net6.0
/Backend Blaupause/Logs
/Backend Blaupause/obj
/.vs/C# Backend Blaupause
/Backend Blaupause Unit Test/obj/Debug/net6.0
/Backend Blaupause Unit Test/bin/Debug/net6.0
/Backend_Blaupause_Unit_Test/bin/Debug/net6.0
/Backend_Blaupause_Unit_Test/obj
/.vs/ProjectEvaluation
/Backend Blaupause/obj
